/* .section-wrapper {
  padding: 55px 0;
}

.custom-container {
  width: 60%;
  margin: 0 auto;
}

.form-content {
  text-align: center;
  color: #435072;
}

.form-content h2 {
  font-size: 42px;
  font-weight: 700;
}

.form-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #435072;
} */
.form-content button {
  background-color: rgba(159, 181, 118, 1);
  color: #fff;
}

.form-content button:hover {
  color: white;
  border: 1px solid white;
}
