.Servicesbackground {
  background-color: #565656;
}
.servicesdesc2 {
  color: white;
  padding-top: 20px;
}
.Servicestitle2 {
  text-align: center;
  color: white;

  font: "Petrona";

  font-size: 48px;
  line-height: 54.14px;
}
