.Servicesbackground {
  background-color: #565656;
}
.servicesdesc2 {
  color: white;

  align-items: center;
  font-family: "Jaldi";

  font-size: 14px;
  line-height: 25, 27px;
  font-weight: 400;
}
.Servicestitle2 {
  text-align: center;
  color: white;

  font-family: "Petrona";

  font-size: 48px;
  line-height: 54.14px;
}

.servicesheader {
  font-family: Petrona;
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 44, 6;
  text-align: center;
}

.align-item {
  align-items: center;
}
