.header {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(34, 34, 34, 1);
}

.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  max-width: 120px;
}

nav {
  display: flex;
  gap: 15px;
  color: white;
  /* font-size: small; */
  align-items: center;
}

.color {
  color: white;
}
.navigation {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
}

.active {
  position: relative;
  color: #fff;
}

.active::after {
  content: "";
  position: absolute;
  width: 110%;
  left: -5%;
  z-index: -1;
  height: 10px;
  bottom: 0;
  background-color: #9fb576;
}

.relative {
  position: relative;
}

button {
  width: 120px;
  height: 30px;
  align-items: center;
  color: white;
  background-color: rgba(159, 181, 118, 1);
}

.form-content button {
  background-color: rgba(159, 181, 118, 1);
  color: #fff;
}

.form-content button:hover {
  color: white;
  border: 1px solid white;
}

button {
  display: none;
}

@media (max-width: 900px) {
  button {
    display: block;
  }
}

nav NavLink {
  display: inline;
}

@media (max-width: 900px) {
  nav NavLink {
    display: none;
  }
}
