/* @import url(); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
  color: black;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.services-card-header {
  font-family: Baskerville;
  font-size: 36px;
  font-weight: 400;
  line-height: 37.86px;
  color: #fff;
}

.services-card-text {
  font-family: San Francisco;
  font-size: 18px;
  font-weight: 300;
  line-height: 32.49px;
  color: #fff;
}

.hr-lines {
  position: relative;
  margin-top: 50px;
  padding: 0;
  color: #fff;
}

.hr-lines:before {
  content: "";
  display: block;
  height: 1px;
  width: 33%;
  position: absolute;
  top: 50%;
  left: 0;
  background: white;
  transform: translateY(-50%);
}

.hr-lines:after {
  content: "";
  height: 1px;
  width: 33%;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  .hr-lines::after,
  .hr-lines::before {
    width: 25%;
  }
}

@media screen and (max-width: 576px) {
  .hr-lines::after,
  .hr-lines::before {
    display: none;
  }
}
